/* should be provided by site wide css */

body {
  margin: 0;
}

/* specific to app */

#test-box {
  height: 1080px;
  background-color: blue;
}

main {
  margin: 0 auto;
  width: 100vw;
  max-width: 600px;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0;
  font-size: 2rem;
}

main button {
  height: 3rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.app-icon {
  height: 2.25rem;
  width: 2.25rem;
}

.top-bar {
  height: 3rem;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: pink;
}

h3 {
  margin: auto;
  text-align: center;
}

#points-display {
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  background-color: aqua;
}

#new-button {
  min-width: 3rem;
}

#list-display {
  margin: 0;
  height: calc(100% - 6rem);
  padding: 3rem 0 0 0;
  list-style: none;
  overflow: auto;
  overflow-x: hidden;
  font-weight: bold;
  background-color: blanchedalmond;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.item:nth-child(even) {
  background-color: gray
}

.item:hover {
  background-color: black;
}

.item-name {
  max-width: calc(100% - 6rem);
  padding: .25rem;
  flex-grow: 1;
  background-color: rgba(96, 157, 159, .9);
}

.item-points {
  width: 5rem;
  padding: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(169, 169, 169, .9);
}

#bottom-bar {
  height: 3rem;
  width: 100%;
  max-width: 600px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: greenyellow;
}

#bottom-bar button {
  flex-grow: 1;
}

.app-modal {
  width: calc(100% - 2rem);
  max-width: calc(600px - 2rem);
  height: calc(100vh - 2rem);
  padding: 1rem;
  display: none;
  flex-direction: column;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.app-modal-content {
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background-color: rgb(169, 169, 169);
}

.app-modal-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.close-modal-button {
  margin: 0 0 1rem 1rem;
  height: 2rem;
  min-width: 2rem !important;
  width: 2rem !important;
  font-size: 1.5rem;
}

.app-modal input {
  margin: 0 0 1rem 0;
  border: 0px;
  border-radius: 1rem;
  width: 100%;
  padding: .25rem .5rem;
  font-size: 2rem;
}

.app-modal span {
  margin: 0 0 1rem 0;
}

#new-points-input, #edit-points-input {
  margin: 0;
  width: 7rem;
}

.app-modal button {
  border-radius: 50%;
  width: 3rem;
  font-weight: bold;
}

#item-modal-name-display {
  width: 100%;
}

#not-enough-points-display {
  display: none;
}

#log-modal span {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
