/* should be provided by site wide css */

/* Vars */
:root {
  --primary: #b798ff;
  --secondary: #00ffff;
  --background: #121212;
  --surface: rgba(255, 255, 255, 0.05);
  --surface-highlighted: rgba(255, 255, 255, 0.10);
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-primary: #000000;
  --on-secondary: #000000;
  --primary-font: 'Odibee Sans', sans-serif;
  --secondary-font: 'Baloo Da 2', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--on-background);
  font-family: var(--secondary-font);
}

/* specific to app */

main {
  margin: 0 auto;
  width: 100vw;
  max-width: 600px;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0;
  font-size: 2rem;
  background-color: var(--surface);
}

main button {
  height: 3rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--surface);
}

.app-icon {
  height: 2.25rem;
  width: 2.25rem;
}

.top-bar {
  height: 3rem;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--surface);
}

h3 {
  margin: auto;
  text-align: center;
  font-family: var(--primary-font);
}

#points-display {
  width: 5rem;
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 155, 0, .5);
}

#new-button {
  min-width: 3rem;
}

#list-display {
  margin: 3rem 0 0 0;
  height: calc(100% - 6rem);
  padding: 0;
  list-style: none;
  overflow: auto;
  overflow-x: hidden;
  font-weight: bold;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.item:hover {
  background-color: var(--surface-highlighted) !important;
}

.item-name {
  max-width: calc(100% - 6rem);
  padding: .25rem;
  flex-grow: 1;
}

.item-points {
  width: 5rem;
  padding: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .20);
}

#bottom-bar {
  height: 3rem;
  width: 100%;
  max-width: 600px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--surface);
}

#bottom-bar button {
  flex-grow: 1;
}

#tasks-view-button {
  background-color: rgb(34, 57, 184);
}

#onces-view-button {
  background-color: rgb(255, 138, 0);
}

#penalties-view-button {
  background-color: rgb(218, 0, 0);
}

#rewards-view-button {
  background-color: rgb(0, 155, 0);
}

.app-modal {
  width: calc(100% - 2rem);
  max-width: calc(600px - 2rem);
  height: calc(100vh - 2rem);
  padding: 1rem;
  display: none;
  flex-direction: column;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.app-modal-content {
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background-color: var(--surface);
}

.app-modal-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.close-modal-button {
  margin: 0 0 1rem 1rem;
  height: 2rem;
  min-width: 2rem !important;
  width: 2rem !important;
  font-size: 1.5rem;
  background-color: black;
}

.app-modal input {
  margin: 0 0 1rem 0;
  border: 0px;
  border-radius: 1rem;
  width: 100%;
  padding: .25rem .5rem;
  font-size: 2rem;
}

.app-modal span {
  margin: 0 0 1rem 0;
}

#new-points-input, #edit-points-input {
  margin: 0;
  width: 7rem;
}

.app-modal button {
  border-radius: 50%;
  width: 3rem;
  font-weight: bold;
}

#delete-button {
  background-color: rgba(255, 0, 0, 0.75);
}

#edit-button {
  background-color: rgba(0, 0, 255, 0.75);
}

#claim-button {
  background-color: rgba(0, 128, 0, 0.75);
}

#item-modal-name-display {
  width: 100%;
}

#not-enough-points-display {
  display: none;
}

#log-modal span {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}
